.up-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--primary);
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    font-size: 2.2rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000000d1;
    transition: .3s;
}
.up-arrow:hover{
    background-color: rgb(10, 0, 200);
    box-shadow: 1px 2px 5px #00000085;
}
.up-arrow:active{
    scale: 0.9;
}

@media (max-width:750px) {
    .up-arrow{
        width: 34px;
        height: 34px;
        font-size: 1.5rem;
        bottom: 10px;
        right: 10px;
    }
}